# --- Backend (.NET) ---
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
out/

# --- Frontend (React/Node) ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache

# --- Docker & OS ---
.data/
.db-data/
Thumbs.db
.DS_Store

# --- Environment Secrets ---
.env
.env.local
.env.development.local
